# URL do seu projeto no Supabase (ex: https://abcde12345.supabase.co)
VITE_SUPABASE_URL=seu_url_do_supabase_aqui

# Chave anônima pública do Supabase (Anon Public API Key)
VITE_SUPABASE_ANON_KEY=sua_chave_anon_do_supabase_aqui
